@import "normalize";
@import "mixins";

body {
  background-color: #000;
  margin: 0;
  font-family: "Kanit", sans-serif;
  .bg-image {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 80%;
    filter: blur(15px);
    opacity: 0.2;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:before {
      content: "";
      position: absolute;
      height: 50%;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom, transparent, #000);
    }
  }
}

.placeholder {
  padding: 70px 4% 0;
  box-sizing: border-box;
  transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  &.ready {
    transform: scale(1.5);
    opacity: 0;
  }
  .placeholder-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 200px;
    margin-bottom: 50px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #111;
    background-image: linear-gradient(
      to left,
      #111 0%,
      #222 20%,
      #111 40%,
      #111 100%
    );
    background-repeat: no-repeat;
    background-size: 1920px 200px;
    position: relative;
    .placeholder-item {
      flex: 0 0 4px;
      display: block;
      width: 4px;
      height: 200px;
      margin-right: 145px;
      font-size: 0;
      background-color: #000;
    }
    @keyframes placeHolderShimmer {
      0% {
        background-position: -1129px 0;
      }

      100% {
        background-position: 1129px 0;
      }
    }
  }
}

header {
  height: 68px;
  padding: 0 4%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  &.visible {
    background-color: rgb(20, 20, 20);
    @media screen and (max-width: 480px) {
      background-color: rgba(20, 20, 20, 0.7);
      backdrop-filter: blur(10px);
    }
  }
  .logo {
    width: 120px;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  }
  form {
    margin-left: auto;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    overflow: hidden;
    input {
      &[type="search"] {
        outline: none;
        background: transparent;
        -webkit-appearance: none;
        border: 0;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 30px;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        box-sizing: border-box;
        font-size: 12px;
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
      }
    }
    button {
      cursor: pointer;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      right: 5px;
      background: transparent;
      outline: none;
      border: 0;
      -webkit-appearance: none;
      color: #fff;
    }
  }
}

.videoLoader {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  outline: none;
  border: 0;
  z-index: 200;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(3px);
}

.drama-list-wrapper {
  width: 100%;
  overflow-x: hidden;
  padding-top: 70px;
  animation: fadeIn 600ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
  @keyframes fadeIn {
    from {
      transform: scale(0.5);
      opacity: 0.5;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  &.flex {
    height: auto;
    padding: 70px 4% 0.5em 4%;
    box-sizing: border-box;
    .drama-title {
      margin: 0.5rem 0;
    }
    .drama-list {
      height: auto;
      display: flex;
      flex-flow: row wrap;
      .drama-item {
        margin: 0 auto 20px;
        img {
          width: 100%;
          height: 100%;
          &:before {
            content: " ";
            display: block;

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #222;
          }
          &:after {
            content: attr(alt);
            display: block;
            font-size: 16px;
            font-style: normal;
            font-family: FontAwesome;
            color: rgb(100, 100, 100);

            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
    .episode-wrapper {
      position: fixed;
      top: 50%;
      left: 0;
      width: 100%;
      z-index: 100;
      align-items: center;
      transform: translateY(-50%);
      .close {
        transform: translateY(-110%);
      }
      &:before {
        content: "";
        position: fixed;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        outline: none;
        border: 0;
        transform: translateY(-50%);
        z-index: -1;
        background: rgba(0, 0, 0, 0.9);
        -webkit-backdrop-filter: blur(3px);
      }
      .episode-container {
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
      }
    }
  }
  .drama-title {
    color: #fff;
    margin: 0 4% 0.5em 4%;
    font-size: 1.5rem;
    font-weight: normal;
    display: flex;
    align-items: center;
    .see-more {
      margin-left: auto;
      font-size: 0.8rem;
      text-decoration: none;
      color: #fff;
    }
  }
  .drama-list {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 10;
    &:hover {
      .flickity-button {
        opacity: 1;
      }
    }
    .flickity-viewport {
      overflow: visible;
    }
    .flickity-button {
      opacity: 0;
      transition: all 200ms ease-in-out;
      &.flickity-prev-next-button {
        width: 44px;
        height: 220px;
        border-radius: 0;
        background-color: rgba(0, 0, 0, 0.4);
        @media screen and (max-width: 480px) {
          height: 100%;
        }
        svg {
          fill: #fff;
        }
        &.previous {
          left: 0;
          background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.9));
        }
        &.next {
          right: 0;
          background: linear-gradient(
            to right,
            transparent,
            rgba(0, 0, 0, 0.9)
          );
        }
      }
    }
    &.active {
      .drama-item {
        &.active {
          box-shadow: 0 0 0 4px #fff;
          //&:before {
          //  content: "";
          //  width: 0;
          //  height: 0;
          //  position: absolute;
          //  top: 100%;
          //  left: 50%;
          //  margin-left: -13px;
          //  border-style: solid;
          //  border-width: 7px 13px 0 13px;
          //  border-color: rgba(0, 0, 0, 0.15) transparent transparent
          //    transparent;
          //  margin-top: 5px;
          //}
          &:after {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -13px;
            border-style: solid;
            border-width: 7px 13px 0 13px;
            margin-top: 4px;
            border-color: #fff transparent transparent transparent;
          }
        }
      }
    }
    .drama-item {
      display: block;
      width: 145px;
      height: 200px;
      position: relative;
      background-color: #222;
      //overflow: hidden;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 4px;
      transition: transform 200ms ease-in-out;
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 50%;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
        opacity: 0;
        transition: opacity 300ms ease-in-out;
      }
      @media screen and (min-width: 480px) {
        &:hover {
          transform: scale(1.1);
          z-index: 10;
          &:before {
            opacity: 1;
          }
          .title {
            opacity: 1;
          }
        }
      }
      .title {
        position: absolute;
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        font-weight: normal;
        bottom: 4px;
        left: 4px;
        right: 4px;
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        z-index: 10;
      }
    }
  }
  .episode-wrapper {
    display: none;
    .episode-container {
      background: #111;
      position: relative;
      margin-top: -40px;
      margin-bottom: 40px;
      padding: 40px 4% 30px;
      box-sizing: border-box;
      height: 460px;
      .title {
        color: #fff;
        height: 60px;
        margin: 0;
      }
    }
    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 4rem;
      font-size: 2rem;
      color: #fff;
      height: 4rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background: transparent;
      filter: drop-shadow(0 0 12px #000);
    }
    .episode-poster {
      height: 100%;
      width: 30%;
      background-position: right center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      right: 0;
      @media screen and (max-width: 480px) {
        display: none;
      }
      &:before {
        content: "";
        position: absolute;
        width: 35%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #111, transparent);
      }
    }
    .episode-list {
      //flex-basis: calc(100% - 240px - 4%);
      //width: calc(100% - 240px - 4%);
      flex-basis: calc(70% - 30px);
      width: calc(70% - 30px);
      padding-right: 30px;
      //display: flex;
      //flex-flow: row wrap;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-gap: 10px;
      max-height: calc(100% - 60px);
      overflow: auto;
      @media screen and (max-width: 480px) {
        flex-basis: 100%;
        width: 100%;
        grid-template-columns: 50% 50%;
      }
      .episode-item {
        flex-grow: 1;
        min-width: 50px;
        padding: 0 8px;
        box-sizing: border-box;
        height: 50px;
        border: 1px solid #fff;
        margin-right: 8px;
        margin-bottom: 8px;
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
