title Drama
meta(name="viewport" content="width=device-width, initial-scale=1")
link(rel="stylesheet" type="text/css" href="dist/css/main.min.css")
link(rel="stylesheet" href="dist/lib/flickity.min.css")
link(rel="icon" href="dist/favicon.png")
link(href="https://fonts.googleapis.com/css?family=Kanit:400,700" rel="stylesheet")

script(src="dist/lib/jquery-3.4.0.min.js")
script(src="dist/lib/flickity.pkgd.min.js")
script(src="dist/js/bundle.js")