html
    head
        include components/meta
    body
        include components/header
        +header('index')
        .placeholder
            - var m = 0
            - var n = 0
            - var o = 0
            - var p = 0
            .placeholder-list
                while m < 10
                    .placeholder-item= m++
            .placeholder-list
                while n < 10
                    .placeholder-item= n++
            .placeholder-list
                while o < 10
                    .placeholder-item= o++
            .placeholder-list
                while p < 10
                    .placeholder-item= p++

        iframe(class="videoLoader" allowfullscreen)
        .drama-list-wrapper
        footer
            .footer-icon
                p <i class="fas fa-rss"></i>&nbsp;<i class="fab fa-youtube"></i>&nbsp;<i class="fas fa-clock"></i>&nbsp;<i class="fas fa-share-alt-square"></i>
            .footer-wrapper
                .footer-item
                    p RSS
                    p Privacy
                    p Media Center
                .footer-item
                    p No Ads
                    p Plyr
                .footer-item
                    p Help Center
                    p Terms of Use
                .footer-item
                    p Report
            .footer-text
                p For educational purpose use only
