html
    head
        include components/meta
    body
        include components/header
        +header('index')
        .placeholder
            - var m = 0
            - var n = 0
            - var o = 0
            - var p = 0
            .placeholder-list
                while m < 10
                    .placeholder-item= m++
            .placeholder-list
                while n < 10
                    .placeholder-item= n++
            .placeholder-list
                while o < 10
                    .placeholder-item= o++
            .placeholder-list
                while p < 10
                    .placeholder-item= p++

        iframe(class="videoLoader" allowfullscreen)