html
    head
        include components/meta
    body
        iframe(class="videoLoader")
        h3 List
        //ul
        //    for item in content
        //        li
        //            a(href="/drama?" + item.url)
        //                h3= item.title
        //                img(src= item.image)