html
    head
        include components/meta
    body
        header
            .logo
                // ?xml version="1.0" encoding="UTF-8" standalone="no"?
                svg(width='100%', height='100%', viewBox='0 0 251 55', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', xmlns:serif='http://www.serif.com/', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;')
                    g(transform='matrix(1,0,0,1,-879.083,-47.8528)')
                        g
                            g(transform='matrix(5.04594,0,0,5.04594,-2301.81,-256.072)')
                                text(x='641.056px', y='70.995px', style="font-family:'AquaGrotesque', 'Aqua Grotesque';font-size:12.01px;fill:rgb(52,152,219);")
                                    | d
                                    tspan(x='648.694px 654.266px 661.796px 672.929px ', y='70.995px 70.995px 70.995px 70.995px ') rama
                            g(transform='matrix(1.07988,0.62347,-0.62347,1.07988,896.412,37.8392)')
                                path(d='M21.928,0C9.837,0 0,9.837 0,21.928C0,34.019 9.837,43.856 21.928,43.856C34.019,43.856 43.856,34.019 43.856,21.928C43.856,9.837 34.019,0 21.928,0ZM21.928,38.856C12.594,38.856 5,31.262 5,21.928C5,12.594 12.594,5 21.928,5C31.262,5 38.856,12.594 38.856,21.928C38.856,31.262 31.262,38.856 21.928,38.856ZM22.113,8.192C14.497,8.192 8.301,14.388 8.301,22.004C8.301,29.619 14.497,35.816 22.113,35.816C29.728,35.816 35.925,29.62 35.925,22.004C35.925,14.388 29.728,8.192 22.113,8.192ZM27.314,14.907C27.418,15.325 27.49,15.755 27.49,16.205C27.49,19.174 25.084,21.58 22.115,21.58C22.085,21.58 22.057,21.572 22.026,21.571C19.1,21.523 16.74,19.143 16.74,16.205C16.74,15.753 16.813,15.321 16.918,14.902C17.496,12.597 19.55,10.88 22.027,10.839C22.057,10.839 22.085,10.83 22.116,10.83C24.634,10.83 26.731,12.569 27.314,14.907Z', style='fill:rgb(201,233,255);fill-rule:nonzero;')

        .placeholder
            - var m = 0
            - var n = 0
            - var o = 0
            - var p = 0
            .placeholder-list
                while m < 10
                    .placeholder-item= m++
            .placeholder-list
                while n < 10
                    .placeholder-item= n++
            .placeholder-list
                while o < 10
                    .placeholder-item= o++
            .placeholder-list
                while p < 10
                    .placeholder-item= p++

        iframe(class="videoLoader" allowfullscreen)
        //ul
        //    for item in content
        //        li
        //            a(href="/drama?" + item.url)
        //                h3= item.title
        //                img(src= item.image)